<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.handwin" />

    <import resource="profiles.xml"/>
    <bean class="com.handwin.util.ConfigUtils">
        <property name="appConfig" ref="appConfig"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass">
            <value>${db.driverClassName}</value>
        </property>
        <property name="jdbcUrl">
            <value>${db.url}</value>
        </property>
        <property name="user">
            <value>${db.user}</value>
        </property>
        <property name="password">
            <value>${db.password}</value>
        </property>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" value="${redis.host}"/>
        <constructor-arg index="1" value="${redis.port}"/>
    </bean>

    <bean id="clientApi" class="com.handwin.server.ClientApi">
    </bean>

    <bean id="jdbc" class="com.handwin.db.Jdbc" init-method="initJdbc"></bean>

    <bean id="gameHandler" class="${game.handler}"></bean>

    <bean id="gameSessionManager" class="com.handwin.game.GameSessionManager">
    </bean>

    <bean id="playerManager" class="com.handwin.game.PlayerManager"></bean>

    <bean id="randomMatchTask" class="${match.task}">
    </bean>

    <bean id="eventHandlerFactory" class="com.handwin.server.handler.EventHandlerFactory"></bean>

    <bean id="pipelineFacotry" class="com.handwin.server.handler.MultiplexerChannelInitializer">
    </bean>

    <bean id="gameServer" class="${game.server}">
    </bean>
</beans>

